body {
    direction: rtl;
    font-family: Arial (Hebrew);
    box-sizing: border-box;
}

#main {
    width: 900px;
    margin: auto;
}

#container {
    border: 1px solid green;
}

.row {
    border: 1px solid red;
    margin-top: 18px;
}

.column {
    float:right;
    border: 1px solid blue;
    width: 31%;
    margin: 0 9px;
}

.topcol {
    height: 356px;
}

.bottomcol {
    height: 216px;    
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

header {
    border: 2px solid yellow;
    background-color: gray;
    font-size: 17px;
    font-weight: bold;
    color: white;
    height: 105px;
}

footer {
    border: 2px solid yellow;
    background-color: gray;
    font-size: 17px;
    font-weight: bold;
    color: white;
    z-index: 999999;
    height: 38px;
    margin-top: 18px;
}
