body {
    direction: rtl;
    font-family: Arial;
    box-sizing: border-box;
}

#main {
    width: 900px;
    margin: auto;
}

#container {
    border: 1px solid green;

}

.row {
    border: 1px solid red;
    margin-top: 18px;
}

.column {
    position: relative;
    float:right;
    width: 290px;
    margin: 0 4px;
    overflow: hidden;
}

.topcol {
    height: 356px;
}

.bottomcol {
    height: 216px;border: 1px solid blue;    
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

header {
    border: 1px solid yellow;
    background-color: gray;
    font-size: 17px;
    font-weight: bold;
    color: white;
    height: 105px;
}

footer {
    background-color: gray;
    font-size: 14px;
    font-weight: normal;
    color: white;
    z-index: 999999;
    height: 38px;
    margin-top: 18px;
    padding-top: 1px;
}

footer ul li {
    float: right;
    list-style-type: none;
}

footer ul li a {
    text-decoration: none;
    color: white;
}

img.topimg {
    position: absolute;
    border: 1px solid yellow;
    border-radius: 0px 0px 30px 0px;
}

ul.footerdemo li.sep {
    padding: 4px;
}
div.overlaydiv {
    position: absolute;
    width: 228px;
    height: 77px;
    overflow: hidden;
    padding: 10px;
    left: 38px;
    bottom: 6px;    
    border-radius: 0 0 30px 0;
    background-color: gray; 
    opacity: 0.9;
    color: white;  
}

.colh3 {
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    
}

.coltext {
    height: 77px;
    width: 229px;
    font-size: 13px;
    padding: 0px;
    margin: 0;
    line-height: 1;
}

.cola {
    float: left;
    position: absolute;
    bottom: 4px;
    left: 20px;
    font-size: 13px;
    color: white;
}

#primary_nav_wrap
{
}

#primary_nav_wrap ul
{
    z-index: 99999;
	list-style:none;
	position:relative;
	float:right;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
    color: white;
}

#primary_nav_wrap ul li
{
	position:relative;
	float:right;
	margin:0;
	padding:0;
}

#primary_nav_wrap ul li.current-menu-item
{
	background: gray;
}

#primary_nav_wrap ul li:hover
{
	background: #cccccc;
    color: blue;
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	right:0;
	background:gray;
	padding:0;
    width: inherit;
}

#primary_nav_wrap ul ul li
{
	float:none;
    width: 130px;
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding: 10px 15px;
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%;
}

#primary_nav_wrap ul li:hover > ul
{
	display:block;
}