body {
    direction: rtl;
    font-family: Arial (Hebrew);
}

.main {
    width: 900px;
}

header {
    background-color: gray;
    font-size: 17px;
    font-weight: bold;
    color: white;

}

.headtabs {
    width: 33%;
    height: 200px;
    border: 2px solid yellow;
    border-radius: 0px 0px 0px 10px;
}

.bottomtabs {
    width: 33%;
    height: 300px;
    border: 2px solid green;
    border-radius: 0px 0px 10px 0px;
}

footer {
    background-color: gray;
}

hr {
    background-color: white;
}

nav ul {
  list-style-type: none;
  /*overflow: hidden;*/
}

#mainnav {
    background-color: gray;
}

nav ul li {
  float: right;
}

nav ul li a {
  display: inline-block;
  text-decoration: none;
  font-family: Arial;
  font-size: 14px;
  padding: 5px 5px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
    display: block;
    font-size: 12px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

a:hover {
  background-color: grey;
}

.dropdown-content a:hover {
  background-color: grey;
}


